
$BGPC: #ebe4d7;
$BG: #faf5ea;
$BC: #71675b;
$RED: #c77765;
$cz01: #b98b72;
$cz02: #d2b9a8;
$cz03: #d0a061;
$cz04: #daa19e;
$ln01: #a5856f;
$ln02: #d2b9a8;
$ln03: #d0a061;
$ln04: #daa19e;
$BP: 600px;
$PCW: 1025px;
$PATH: "../img/";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Outfit:wght@100;200;400&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400&display=swap');

// スマホ設定（599px以下）

@media screen and (min-width: $BP) {
/* タブレット用レイアウト 600px以上の範囲に収めるデザインはこの中に記述 */
}

@media screen and (min-width: $PCW) {
/* PC用レイアウト 1,025px以上の範囲に収めるデザインはこの中に記述 */


}

.youtube {
    position: relative;
    padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
    height: 0;
    overflow: hidden;
  }
  .youtube iframe {
    position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
  }
