@charset "utf-8";
@use "../reset";
@use "../base";
@use '../mixin'as mx;



.footer{
    padding: 0 5vw;
    background: base.$BG;
    &__inner{
        border-top: solid 1px base.$BC;
        padding-bottom: 10.4vw;
    }
    &__links{
        margin: 6vw 7vw;
        display: flex;
        justify-content: space-between;
        li{
            a{
                display: block;
                padding: 6.66vw 0;
                color: base.$BC;
                @include mx.fz(16);
                font-family: 'Work Sans';
            }
        }
    }
    small{
        @include mx.fz(11);
        font-family: 'Work Sans';
        line-height: 1;
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #71675b;
    }
    @media screen and (min-width: base.$PCW) {
        /* PC用レイアウト 1,025px以上の範囲に収めるデザインはこの中に記述 */
        padding: 0 24px;

        &__inner{
            padding-bottom: 50px;
        }

        &__links{
            margin: 28px 34px;

            li{
                a{
                    padding: 30px 0;

                }
            }
        }
    }
}



@media screen and (min-width: base.$BP) {
    /* タブレット用レイアウト 600px以上の範囲に収めるデザインはこの中に記述 */
}



@media screen and (min-width: base.$PCW) {
    /* PC用レイアウト 1,025px以上の範囲に収めるデザインはこの中に記述 */

}