<section class="point" id="point">
    <h2 class="point__ttl">point</h2>
    <div class="point__inner">
        <div class="point__blc">
            <img src="../img/img_point01.png" alt="POINT 01" class="point__blc--img">
            <p class="point__blc01">POINT 01 繊細なドットのグラデーションとふんわりぼかしフチで自然に瞳に溶け込む</p>
        </div>
        <div class="point__blc">
            <p class="point__blc02">POINT 02 程よくサイズUPして ナチュラルだけど盛れる(着色直径13.4㎜～13.6㎜)</p>
            <img src="../img/img_point02.png" alt="POINT 02" class="point__blc--img">
        </div>
        <div class="point__blc">
            <img src="../img/img_point03.png" alt="POINT 03" class="point__blc--img">
            <p class="point__blc03">POINT 03 くすみカラー展開で 透明感、抜け感を演出し、大人っぽい印象に</p>
        </div>
    </div>
</section>

<section class="feature" id="feature">
    <div class="feature__inner">
        <div class="feature__blc">
            <h2 class="feature__ttl">feature</h2>
            <ul class="feature__point">
                <li>
                    <img src="../img/img_feature01.png" alt="01 毎日清潔に使える 1DAYタイプ">
                </li>
                <li>
                    <img src="../img/img_feature02.png" alt="02 瞳が乾きにくい 低含水レンズ">
                </li>
                <li>
                    <img src="../img/img_feature03.png" alt="03 紫外線から瞳を守る UVカット機能">
                </li>
                <li>
                    <img src="../img/img_feature04.png" alt="04 色素に触れず安心 サンドイッチ構造">
                </li>
                <li>
                    <img src="../img/img_feature05.png" alt="05 快適な着け心地 なめらかエッジ">
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="spec" id="spec">
    <h2 class="spec__ttl">LENSES SPEC</h2>
    <div class="spec__inner">
        <ul class="spec__list">
            <li>
                <p class="spec__list--ttl">ブランド名</p>
                <p class="spec__list--txt">LOUER</p>
            </li>
            <li>
                <p class="spec__list--ttl">1箱入数</p>
                <p class="spec__list--txt">10枚</p>
            </li>
            <li>
                <p class="spec__list--ttl">BC</p>
                <p class="spec__list--txt">8.7mm</p>
            </li>
            <li>
                <p class="spec__list--ttl">含水率</p>
                <p class="spec__list--txt">38%</p>
            </li>
            <li>
                <p class="spec__list--ttl">承認番号</p>
                <p class="spec__list--txt">22900BZI00030000</p>
            </li>
            <li>
                <p class="spec__list--ttl">度数</p>
                <p class="spec__list--txt">±0.00(度なし)、<br>
                    -0.50〜-6.00(0.25刻み)、<br>
                    -6.50〜-8.00(0.50刻み)</p>
            </li>
            <li>
                <p class="spec__list--ttl">使用期限</p>
                <p class="spec__list--txt">終日装用、一日交換</p>
            </li>
            <li>
                <p class="spec__list--ttl">DIA</p>
                <p class="spec__list--txt">14.2mm</p>
            </li>
            <li>
                <p class="spec__list--ttl">販売名</p>
                <p class="spec__list--txt">ビカム・アイ 1DAY</p>
            </li>
        </ul>

        <div class="spec__attention">
            <h3 class="spec__attention--ttl">使用上の注意</h3>
            <p class="spec__attention--txt">●コンタクトレンズは高度管理医療機器です。</p>
            <p class="spec__attention--txt">●必ず眼科医の指示に従い正しくご使用下さい。</p>
            <p class="spec__attention--txt">●装用時間・期間を正しくお守り下さい。</p>
            <p class="spec__attention--txt">●ご使用の前に必ず添付文書を読み、取り扱い方法を守り、正しくご使用下さい。</p>
            <p class="spec__attention--txt">●定期検査を必ず受けて下さい。</p>
            <p class="spec__attention--txt">●少しでも異常を感じたら、直ちに眼科医の検査を受けて下さい。</p>
            <p class="spec__attention--txt">●破損などのあるレンズは絶対に使用しないで下さい。</p>
        </div>
    </div>
</section>