<footer class="footer" id="footer">
    <div class="footer__inner">
        <ul class="footer__links">
            <li><a href="/lineup.html">LINE UP</a></li>
            <li><a href="#shop">SHOP</a></li>
            <li><a href="https://www.instagram.com/momochi.661/?hl=ja" target="_blank">Instagram</a></li>
        </ul>
        <small>©2022 LOUER</small>
    </div>
</footer>