<div class="pc">
    <div class="main__pc">
        <div class="main__pcinner">
            <figure class="main__pc--star">
                <img src="../img/figure_pctop.png" alt="star" width="33px" height="auto">
            </figure>
            <p class="main__pc--subttl">瞳から、あなたをもっと愛して</p>

            <p class="main__pc--txt01">1day Color Contact Lenses</p>
            <h1 class="main__pc--logo">LOUER</h1>
            <p class="main__pc--txt02">Produced by Momochi</p>
            <div class="main__pc--blc">
                <p class="main__pc--txt03">各種販売サイトにて好評発売中！詳しくはスマートフォンサイトをご覧ください。</p>
                <figure>
                    <img src="../img/qr_pctop.png" alt="QRコード" width="84px" height="84px">
                </figure>
            </div>
            <figure class="main__pc--rotate">
                <img src="../img/round_pctop.png" alt="1day Color Contact Lenses LOUER Official Website" width="145px" height="145px">
            </figure>
        </div>

    </div>
</div>