<section class="shop" id="shop">
    <h2 class="shop__ttl">shop</h2>
    <ul class="shop__links">
        <li>
            <a href="https://www.lilyanna.jp/fs/lilyanna/louer-1day-2set" target="_blank"
                rel="noopener">
                <span class="shop__links--name"><b>公式販売サイト</b>で購入する</span>
                <span class="shop__links--arrow">&#8594;</span>
            </a>
        </li>
        <li>
            <a href="https://item.rakuten.co.jp/lilyanna/louer-1day-2set/" target="_blank"
                rel="noopener">
                <span class="shop__links--name"><b>楽天市場</b>で購入する</span>
                <span class="shop__links--arrow">&#8594;</span>
            </a>
        </li>
        <li>
                <a href="https://www.amazon.co.jp/dp/B0B24N31M5" target="_blank" rel="noopener" class="">

                <span class="shop__links--name"><b>Amazon</b>で購入する</span>
                <span class="shop__links--arrow">&#8594;</span>
            </a>
        </li>
        <li>
            <a href="https://www.qoo10.jp/g/985370291" target="_blank" rel="noopener">
                <span class="shop__links--name"><b>Qoo10</b>で購入する</span>
                <span class="shop__links--arrow">&#8594;</span>
            </a>
        </li>
        <li>
            <a href="https://store.shopping.yahoo.co.jp/lilyanna/le110-2.html" target="_blank"
                rel="noopener">
                <span class="shop__links--name"><b>Yahoo!</b>で購入する</span>
                <span class="shop__links--arrow">&#8594;</span>
            </a>
        </li>
        <li>
            <a href="https://wowma.jp/item/566102150" target="_blank" rel="noopener">
                <span class="shop__links--name"><b>au PAY マーケット</b>で購入する</span>
                <span class="shop__links--arrow">&#8594;</span>
            </a>
        </li>
    </ul>
</section>